<div class="body">
  <nav class="navbar">
    <a routerLink="/">幻灯片</a>
    <a routerLink="/weather">weather</a>
  </nav>
  <div class="slide">
    <div class="slide-item-container">
      <div class="slide-item" *ngFor="let item of slideData;let i = index" [@slide]="state" [ngStyle]="{'background-color':item.imageUrl}">{{item.describe}}</div>
    </div>
    <div class="indicator-list">
      <span class="indicator"  (click)="contorlSlide(i)" *ngFor="let item of slideData; let i = index"></span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
